@charset "UTF-8";
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

body {
  margin:0 30px 0 30px;
}

h1 {
  text-align: center;
}

table .table_box{
  border: none;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 50px -3px #00000073;
}

table th .table_box,
table td .table_box{
  padding: 5px 0;
}


table  th .table_box{
  width: 20%;
  padding: 5px 0;
  font-size: 14px;
  padding: 15px;
  background-color: #FFC107;
  color:#fff;
}

table tr .table_box{
  text-align: center;
  width: 10%;
  padding: 10px 0;
  background-color: #fff;
  color:#3a3a3a;
}

/*商品詳細のtable*/

/*input type="namber"のcss*/
		/** input/スピンボタンのラップ要素 **/
.number-spinner-wrap{
   position: relative;
   display: block;
   width: 80px !important;
   height: 2.8rem;
   margin-top: 40px;

}
		/** デフォルトのスピンボタンを隠す **/
.number-spinner-wrap input::-webkit-outer-spin-button,
.number-spinner-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
		/** input要素 **/
.number-spinner-wrap input{
  width: 100%; height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}
		/** スピンボタン要素 **/
.number-spinner-wrap .spinner{
  position: absolute;
  top: 50%;
  width: 1.3rem;
  transform: translate(0, -50%);
  font-size: 1rem;
  padding: 2px .4rem;
  text-align: center;
  background: lightgray;
  cursor: pointer;
  user-select: none;
}
		/** 減算のスピンボタン要素 **/
.number-spinner-wrap .spinner-down{
  left: 2px;
  border-right: 1px solid lightgray;
}
		/** 加算のスピンボタン要素 **/
.number-spinner-wrap .spinner-up{
  right: 2px;
  border-left: 1px solid lightgray;
}

/*下線のレスポンシブ*/
.border22  {
	border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*商品詳細*/
#itemImage img{
	background: #333;
}


/*購入完了画面の文字*/
	/* GSAPの各見本共通*/
.popout {
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 80px;
}

.paging {
	text-align: center;
	margin-top: 10px;
}

.paging a {
	margin: 5px;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #f2f2f2;
}

@-webkit-keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
          animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  -webkit-animation-delay: -0.1666666667s;
          animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

/*商品一覧の画面css*/
.items {
	display: grid;
	gap: 50px 80px;
	/*grid-template-columns: repeat(1, 1fr);*/
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));	
}
.item {
	align-items: center;
  	width: 320px; 
  	height: auto;
  	object-fit: contain;
}

#img22 {
	background: rgb(192, 192, 192);
	box-shadow: 0 0 20px -3px #00000073;
	height: auto;
	
}

	/*画像のhover*/
.image_link{
  display:block;
}
.image_link img{
  transition:0.3s;
  display:block;
  width:100%;
}
.image_link:hover img{
  opacity:0.5;
}

	/*モバイル対応*/
@media(max-width:767px){
	main {
    padding: 0 4%;
	}
	.items {
	grid-template-columns: repeat(1, 1fr);
	}	
	.items img {
	width: 100%;
	height:100%;
	}
}

@media (min-width: 481px) {
.items img {
	width: 100%;
	height:100%;
	}
}
	
/*商品詳細の画面css*/
.item_Detail img {
	background: rgb(192, 192, 192);
	gap: 100px;
	width: 40%;
	height: 40%;
	box-shadow: 0 0 20px -3px #00000073;
}


main {
	font-size: 20px;
}
