@charset "UTF-8";
main  {
	text-align: center;
}

p.font-name {
	font-size: 26px;
	font-weight:bold;
}

/*少しずらしたボックス*/
.box27{
	margin: 1em auto;
	padding:2em;/*内側の余白*/
	background: none;/*元のボックス背景色なし*/
	border:1px solid #ccc ;/*線の太さ・種類・色*/
	position: relative;/*配置（基準）*/
	display:inline-block;
	font-size: 26px;
	text-align: center;
	
}
.box27:after{
	background-color:#eee;/*ずらしたボックスの背景色*/
	border:none;
	content: '';
	position: absolute;/*配置（ここを動かす）*/
	top: 7px;/*上から7pxずらす*/
	left: 7px;/*左から7pxずらす*/
	width: 100%;
	height: 100%;
	z-index: -1;
	text-align: center;
}

/* ボタンの初期スタイル */
.slide-button {
    display: inline-block;
    padding: 13px 50px;
    background-color: #f5e9ce;
    color: #2f39d4; /*#fff*/
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease-in-out;
    overflow-wrap: break-word;
    width: 280px;
    font-family: "M PLUS 1p";
    
}

/* ボタンにホバー時のアニメーションを追加 */
.slide-button:hover {
    transform: translateX(10px); /* 10px右にスライド */
}

.box8 {
    padding: 0.3em 1em;
    margin: 1em 0;
    color: #232323; /*#232323*/
    background: #fff8e8; /*#fff8e8*/
    border-left: solid 10px #ebae2d; /*#ffc06e*/
}
.box8 p {
    margin: 0; 
    padding: 0;
}

/*ログアウトボタン*/
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #001e3d;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #0f3a6b;
}

a.btn--radius {
   border-radius: 100vh;
}

/*マイページの情報変更時のボタン*/
#button-arrow-inner {
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  border: 2px solid #2f1b33;	/*#447fff*/
  background: #fff;	/*#fff*/
  color: #2f1b33;		/*#447fff*/
  font-weight: bold;
  padding: 0.8em 2em 0.8em 2em;
  line-height: 1.4;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    transform: rotate(45deg);
    border-top: 2px solid #447fff;
    border-right: 2px solid #447fff;
    transition: right 0.3s;
  }
  &:hover {
    background: #513757;
    color: #fff;
    &::after {
      border-color: #513757;
      right: 7px;
    }
  }
  &:active, &:focus {
    opacity: 0.8;
  }
}

.left {
	text-align: left;
}

/*決定ボタン*/
#button_solid017 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6cab96;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
#button_solid017 :hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
#button_solid017 :after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

/*キャンセルのボタン*/
#button-arrow-inner-can {
  text-align: center;
  box-sizing: border-box;
  display: block;
  border: 2px solid #447fff;	/*#447fff*/
  background: #447fff;	/*#fff*/
  color: #fff;		/*#447fff*/
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  line-height: 1.4;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    transform: rotate(45deg);
    border-top: 2px solid #447fff;	/*#447fff*/
    border-right: 2px solid #447fff;	/*#447fff*/
    transition: right 0.3s;
  }
  &:hover {
    background: #fff; /*#447fff*/
    color: black;	/*#fff*/
    &::after {
      border-color: #447fff;	/*#fff*/
      right: 7px;
    }
  }
  &:active, &:focus {
    opacity: 0.8;
  }
}

.left {
	text-align: left;
}


/*マイページに戻るボタン*/
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

/*モバイル対応*/
@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/*下線*/
.marker1 span{
	background: linear-gradient(transparent 70%, #2A7CBA 80%);
	line-height: 1;
}

.marker2 span{
	background: linear-gradient(transparent 70%, #ba2a4e 80%);
	line-height: 1;
}

.marker3 span{
	background: linear-gradient(transparent 70%, #af78eb 80%);
	line-height: 1;
}
