@charset "UTF-8";

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: #e3e3e3;  /*#e3e3e3*/
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .5s;  /* (0.215, 0.61, 0.355, 1) */
  content: '';
  background-image: url("../image/christmas-1911637_1280.jpg");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-image: no-repeat;
  background-size: cover;
}

/* テキストのスタイル */
.title {
  display: block;
  color: #111;
  text-align: center;
}

.title span {
  display: block;
  opacity: 0;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity ease 0.8s;
}

.title span:first-child {
  transform: translate(0, 40px);
  font-size: 32px;
  transition-delay: 0.15s;
}

.title span:last-child {
  margin-top: 18px;
  transform: translate(0, 30px);
  font-size: 36px;
  transition-delay: 0.45s;
  font-weight:bold;
}

.bg.-visible .title span {
  opacity: 1;
  transform: translate(0, 0);
}


.container {
	flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("../image/");*/

    background-color: #5a90c7; 
    color: #ffffff;
}
    /*上から下に表示するコード
    animation: slide-down 5s ease-in-out;
}

@keyframes slide-down {
    0% {
        transform: translateX() 100%;
    }
    100% {
       transform: translateX()  0;
    }*/

#name {
	color: mediumblue;
}
/*WELCOMEの画面*/
#fadeIn {
	animation-name: fadeInAnime;/*1で解説*/
	animation-fill-mode:backwards;/*2で解説*/
	animation-duration:3s;/*3で解説*/
	animation-iteration-count:1;/*4で解説*/
	animation-timing-function:ease;/*5で解説*/
	animation-delay: 0.5s;/*6で解説*/
	animation-direction:normal;/*7で解説*/
}
/*WELCOMEの画面 動き*/
@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*TOPへボタン*/
div .btn-top {
	margin: auto;
  	cursor: pointer;
  	font-weight: 180px;
  	min-width: 80px;
  	transition: all .2s;
  	padding: 20px 50px;
  	border-radius: 100px;
  	background: #b04545;
  	border: 1px solid transparent;
  	display: inline-flex;
  	align-items: center;
  	font-size: 24px;
}

div .btn-top:hover {
  background: #d16662;
}

div .btn-top > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

div .btn-top:hover svg {
  transform: translateX(8px);
}

div .btn-top:active {
  transform: scale(0.8);
}

/*モバイル対応*/
@media all and (max-width: 767px) and (min-width: 280px) {
	main {
    padding: 0 4%;
    margin: 0 auto;
	}
	img {
    max-width: 320px;
  }
}

@media screen and (min-width: 481px) {
  	img {
    max-width: 320px;
  }
}