@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Zen+Kaku+Gothic+New:wght@500&display=swap');

/*すべてのページに適用される設定 */
html{
    font-size: 14px;
    font-family: 'Zen Maru Gothic', sans-serif;
}
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #fff;
}
.sp_br {
  display: none; 
}

/*header*/
.header {
	margin: 30px 20px 50px 20px;
	
    display: flex; 
    justify-content:space-between;
}
.header-right{
	display: flex; 
	gap:20px;	
}
#mail{
	margin:5px 0 0 0;
}
#login,#entry{
	margin:5px 0 0 0;
}
.logo img{
	width: 200px;
}

/*nav*/
.nav ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav a:link ,.nav a:visited,.nav a:hover,.nav a:active {
    color: #000;
    text-decoration: none;
}
.nav a:hover .word {
  display: inline;
}
#login ,#login a:link ,#login a:visited,#login a:hover,#login a:active{
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin: auto;
	padding: 0.3rem 1rem;
	font-weight: bold;
	background: #000;
	color: #fff;
	border-radius: 30vh;
	transition: 0.5s;
}
#entry{
	text-decoration:underline;
}
.word {
  position   : absolute;
  display: none;
  padding: 2px;
  color: aliceblue;
  border-radius: 5px;
  background-color:purple;
  width:100px;
  top: 50px;
  left: 0px;
  font-size: 12px;
  text-align: center;
}

/*検索*/
.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #000000;
    border-radius: 25px;
    height:40px;
}

.search-form input {
    width: 200px;
    height: 50px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form input::placeholder{
    color: #767d83;
}

.search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #000000;
    cursor: pointer;
}

.search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

/*TOP*/
.top{
  position: relative;
  padding:50px 0 0 0;
}
.logo-top {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-top img{
	width:1200px;
	height:auto;
}
/*スクロール矢印*/
/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:1%;
	right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
	animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
	position: absolute;
	left:-20px;
	bottom:10px;
    /*テキストの形状*/
	color: #000;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #000;
    transform: skewX(-31deg);
}

.scrolldown4:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	right:0;
    /*矢印の形状*/
	width:1px;
	height: 50px;
	background:#000;
}

/*grid*/
.grid img {
  width: 100%; /* ADD */
  height:100%; /* ADD */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#gi1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

/*main*/
main{
    margin: 50px 100px 90px 100px;
}

.maincopy{
	text-align: center;
	margin:70px 0;
}
h1{
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing:0.2em;
	margin:0 0 40px 0;
	font-size: 2.5rem;
}
.maincopy p{
	font-size: 1.1em;
	letter-spacing:0.05em;
	line-height: 1.8em;
}
/*ランキングとおすすめ*/
h2{
	text-align: center;
	margin:70px 0 0 0 ;
}	
h2 span{
	font-size: 4.0rem;
	font-family: 'Sawarabi Mincho', serif;
	
	display: inline-block;
	  background: linear-gradient(135deg, #fed878 0%, #fa505e 100%);
  	background: -webkit-linear-gradient(-45deg, #fed878 0%, #fa505e 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}
.ranking-sub,.recommend-sub,.category-sub{
	text-align: center;
	font-size: 1.0rem;
	color:#767d83;
	margin:-10px 0 30px 0 ;
}

.item-price{
	font-size: 0.9rem;;
}
.ranking-list li{
	position: relative;
}



/*画像のズーム*/
.zoom img{
  transform: scale(1);
  transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoom a:hover img{/*hoverした時の変化*/
  transform: scale(1.2);/*拡大の値を変更したい場合はこの数値を変更*/
}
/*　画像のマスク　*/
.mask{
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}

.item-name{
	margin:10px 0 0 0;
}
/*ランキング*/
/*.ranking{
	margin:30px 0;
}
.ranking-list{
	list-style: none;
	padding:0;
	
	display: flex;
	justify-content:space-between;
	gap:30px;
}
.ranking img{
	width: 300px;

}
.rank1{
	position:relative;
}*/

/*スライダー*/
.ranking-list {/*横幅94%で左右に余白を持たせて中央寄せ*/
   width:100%;
   margin: 0;
   
   padding-inline-start: 0px;   
   margin-block-start:0;
   margin-block-end:0;
}

/*.slider-sub{
    width: 100vw;
    margin: 90px 0;
    overflow: visible;
    position: relative;
    left: 50%;
transform: translateX(-50%); 
*/

.ranking-list img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.ranking-list .slick-slide {
    margin:0 20px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: -10%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    right: 5%;
    top:-10%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: 3%;
    top:-10%;
    transform: rotate(45deg);
}
/*ランキングのマル*/
.maru {
  width: 40px;
  height: 40px;
  padding-top: 10px;  
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  color:#fff;
  font-weight: bold;
  
  position:absolute;
 
  top: 10px;
  left: 10px;
}
#maru1{
	background-color: #543f32;
}
#maru2{
	background-color: #595455;
}

/*おすすめ*/
.recommend img {
  width: 100%; /* ADD */
  height:100%; /* ADD */
}

.recommend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  list-style-type:none;
  grid-gap:20px;
}
#re-grid1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

/*画像にマウスオーバーするとテキストがでる*/
.recommend-item {
	position: relative;
	overflow: hidden;
	
	position: relative;
}
.recommend-item:hover .item-info {
	opacity: 1;
	transition:all 0.6s ease;
}

.item-info{
	width:100%;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px;
	transition: all 0.6s ease;
	
	display: flex;
	flex-direction: column;
	align-items: center;

}
.item-name{
	position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%,-50%);
}
.item-price{
	position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  margin:30px 0;
}

/*カテゴリ*/
.category ul{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	gap:30px;
	
	list-style-type:none;
}
.category img{
	width:40px;

}
#cate1{
	background-color:#dddcd6 ;
}
#cate2{
	background-color:#ede4cd;
}
.category li{	
	width:300px;
	height:80px;
	padding:10px 20px;
	border-radius:10px;	
	
	display: flex;
	justify-content: center;
	gap:10px;
}
.category-text{
	display: flex;
	flex-flow: column;
	
	padding:10px 0 0 0;
	text-align: center;
}
.category-text p{
	margin:0;
}
.category-item{
	font-size:1.3rem;
}
.category a{
	text-decoration: none;
	color: #000;
}
.category a:visited,.category a:hover,.category a:active {
    filter: opacity(70%);
}

/*フッター*/
footer{
	background-color:#a58f86;
	color: #fff;
	text-align: center;
	
	padding: 20px 0;
	position: relative;	
}
footer img{
	width:70px;	
	
	position: absolute;
  	top: -60px;
  	right:30px;
}
.nav-footer li{
	list-style-type:none;	
}
footer a{
	text-decoration: none;
	color: #fff;
}
footer a:visited,footer a:hover,.footer a:active {
    filter: opacity(70%);
}
.nav-footer{
	display: flex;
	justify-content:center;
	gap:20px;
	padding: 0;
}
.info span{
	font-size: 1.5rem;
	font-family: 'Sawarabi Mincho', serif;
}


